body {
  background: #000;
}

.body {
  display: block;
  height: 100vh;
  font-family: -apple-system, Roboto, Helvetica, sans-serif;
  cursor: pointer;
  padding: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.body * {
  box-sizing: border-box;
}

.modal {
  position: relative;
  max-width: 380px;
  padding: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  pointer-events: none;
}

@media (min-width: 480px) {
  [dir=rtl] .modal {
    top: calc(50% - 85px);
    right: calc(50% - 190px);
    transform: initial;
  }
}

.modal__text-wrapper {
  display: flex;
  font-size: 18px;
  margin-bottom: 24px;
  align-items: center;
}

.modal__btns {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  justify-content: end;
}

.modal__img {
  width: auto;
  height: 100%;
}
.modal__img.close {
  top: 0.75rem;
  right: 0.75rem;
  width: 16px;
  height: 16px;
  position: absolute;
}
.modal__img.close:hover {
  cursor: pointer;
}
.modal__img.loader {
  width: 90px;
  height: auto;
}
.modal__img.bell {
  max-width: 40px;
}

.toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 40px;
  color: #fff;
  font-size: 19px;
}

.progress {
  background: rgba(255, 255, 255, 0.2);
  height: 3px;
  width: 100%;
  position: absolute;
  top: -3px;
}

.bar {
  width: 19%;
  height: 100%;
  background-color: red;
}

.settings {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 100%;
}
.settings:hover {
  cursor: pointer;
}
@media (max-width: 480px) {
  .settings {
    gap: 3px;
  }
}

.time {
  white-space: nowrap;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.control-img {
  width: auto;
  height: 100%;
}

.controls {
  display: flex;
  height: 100%;
  align-items: center;
}

.modal__text {
  margin-left: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-weight: 400;
}
@media (min-width: 480px) {
  .modal__text {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.button {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(59, 130, 246);
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid rgb(228, 228, 231);
  border-radius: 8px;
  cursor: pointer;
}

.button--primary {
  background-color: rgb(59, 130, 246);
  color: #fff;
}